{% extends "base.html" %}

{% block tittle_head %} 
<title>Vehiculos</title>
{% endblock tittle_head %}

{% block navigation %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#projects">Vehiculos</a></li>
        <li class="nav-item"><a class="nav-link" href={% url "camionetas" %}>Camionetas</a></li>
        <li class="nav-item"><a class="nav-link" href={% url "SUVs" %}>SUVs</a></li>
    </ul>
</div>
{% endblock navigation %}

{% block h2_header %}
<h2 class="text-white-50 mx-auto mt-2 mb-5">Sector autos</h2>
<a class="btn btn-primary" href="#projects">Ver modelos</a>
{% endblock h2_header %}

{% block project %}
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-4 col-lg-5">
                <form action="{% url "vehiculos" %}">
                    <input type="text" name="modelo" placeholder="¿Que vehiculo deseas eliminar?">
                    <input type="submit" value="buscar">
                </form>
                        {% if Listado_de_vehiculos %}
                        <ul>
                            {% for vehiculo in Listado_de_vehiculos %}
                            <li>{{vehiculo}} - <a href={% url "eliminar_vehiculo" vehiculo.id %}> eliminar</a> - <a href={% url "detalle_vehiculo" vehiculo.id %}> detalles</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No se encontro ningun vehiculo</p>
                        {% endif %}
                        <a href={% url "crear_vehiculo" %}>Crear vehiculo</a>
                    </form>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock project %}


{% block h1_header %}
{% endblock h1_header %}
