{% extends "base.html" %}

{% block tittle_head %} 
<title>Cambiar contraseña</title>
{% endblock tittle_head %}

{% block navigation %}
{% endblock navigation %}

{% block main %}{% endblock main %}

{% block h2_header %}
<form action={% url "cambiar_password" %} method="POST">
    {% csrf_token %}
<table style="color:white;display:inline-block;margin-right:1rem">
    {{form}}
</table>
    <input type="submit" value="Cambiar">
</form>
{% endblock h2_header %}

{% block project %}
{% endblock project %}


{% block h1_header %}
Cambiar contraseña
{% endblock h1_header %}