{% extends "base.html" %}

{% block tittle_head %} 
<title>Editar Perfil</title>
{% endblock tittle_head %}

{% block navigation %}
{% endblock navigation %}

{% block main %}{% endblock main %}

{% block h2_header %}
<form action={% url "editar_perfil" %} method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
<table style="color:white;display:inline-block;margin-right:1rem">
    {{formulario}}
</table>
    <input type="submit" value="Editar datos">
</form>

<a href={% url "cambiar_password" %}> Cambiar contraseña</a>

{% endblock h2_header %}

{% block project %}
{% endblock project %}


{% block h1_header %}
Edita tu perfil
{% endblock h1_header %}
