{% extends "base.html" %}

{% block tittle_head %} 
<title>Registro</title>
{% endblock tittle_head %}

{% block navigation %}
{% endblock navigation %}

{% block main %}{% endblock main %}

{% block h2_header %}
<form action={% url "registrarse" %} method="POST">
    {% csrf_token %}
    <table>
        {{form_iniciar_registro}}
    </table>
    <input type="submit" value="Registrarse">
</form>
{% endblock h2_header %}

{% block project %}
{% endblock project %}


{% block h1_header %}
Registrate a Chevrolet
{% endblock h1_header %}
